ul.steps
  li( class=team.lastDeploy ? 'done' : 'pending' )
    a( href='#deploy' ) Deploy
  li( class=team.entry.name ? 'done' : 'pending' )
    a( href='#entry' ) Entry info
  if voting
    li( class=team.entry.votable ? 'done' : 'pending' )
      a( href='#votable' ) Submit for Voting

.step#deploy
  if lastDeploy = team.lastDeploy
    h2.done Successfully Deployed
      .details
        - lastDeployedAt = new Date(lastDeploy._id.generationTime)
        time( datetime=lastDeployedAt.toISOString(),
              title=lastDeployedAt.toISOString() )
          = relativeDate(lastDeployedAt)
        |  &mdash;
        a( href=team.entry.url )= team.entry.url
  else
    h2.pending Not Yet Deployed

  h4 GitHub &mdash; 
    a( href='https://github.com/organizations/nko3/teams/#{team.github && team.github.id}' ) Team
    | , 
    a( href='https://github.com/nko3/#{team.slug}' ) Repo
  ul
    li git clone <b>git@github.com:nko3/#{team.slug}.git</b>

  h4 Nodejitsu &mdash; 
    a( href='http://handbook.jit.su' ) Handbook
  ul
    li npm install -g jitsu
    li jitsu login --username <b>nko3-#{team.slug}</b> --password <b>#{team.code}</b>
    li jitsu deploy

.step#entry
  if !team.entry.name
    h2.pending Entry Info Missing
    p Describe to judges what your entry is about.
      a.button( href='/teams/' + team + '/edit' ) Add &raquo;
  else
    h2.done Entry Info Complete
    p Change this information at any time.
      a.button( href='/teams/' + team + '/edit' ) Edit &raquo;

if voting
  .step#votable
    form( method='POST', action='/teams/' + team )
      != _csrf
      input( type='hidden', name='_method', value='PUT' )

      if !team.entry.votable
        h2.pending Not Officially Submitted
        p
          | Your app is not yet officially submitted for voting. When you
          | submit it for voting, judges will review it at:
          a( href=team.entry.url )= team.entry.url
          | .

        input( type='hidden', name='entry[votable]', value=1 )
        .buttons: input.scary( type='submit', value='Submit for Voting' )

        p: b.
          You can submit your app for voting any time between now and the end
          of judging. You can also change your mind and remove it from voting
          at any time.

      else
        h2.done Submitted for Voting
        p Judges will review your app at: 
          a( href=team.entry.url)= team.entry.url
          | .

        input( type='hidden', name='entry[votable]', value=0 )
        .buttons: input( type='submit', value='Remove from Voting' )
