- title('2012')

:markdown
  Node.js Knockout is a 48-hour node.js hackathon. [Learn more](/about)

if registration
  section.when
    h3 node.js knockout 2012 is
      .dates
        a( href="http://bit.ly/MoVN39" )
          time.start( datetime="2012-11-10T00:00:00Z" ) Nov 10
        |  - 
        a( href="http://bit.ly/MoW3Pp" )
          time.end( datetime="2012-11-12T00:00:00Z" ) Nov 12, 2012
        |  UTC
    #countdown from now

    if req.canRegister
      h1 Registration is Open
      if req.team
        p Your team: <a href="/teams/#{team}">#{team.name}</a>
      else
        p: a.register.button( href="/teams/new" ) Register Now
      p: i= req.teamsLeft + " spots remaining"
    else
      h1 Registration is Full
      p: a( href="/teams/new" ) More spots on Nov 1 at 0:00 & 12:00 UTC

else
  h1 Timeline

  table.timeline
    thead: tr: th.time Local Time
    tbody
      tr.header
        td.time( datetime='2012-11-03T00:00:00Z' )
        td Registration closes
      tr: td( colspan=3 ): .details
        :markdown
          ### Getting ready

          Be sure to review the [rules](/rules) and amazing
          [resources](/resources).

          If you're in SF or NYC, check out available team gathering
          [locations](/locations) ([tell us](http://twitter.com/node_knockout)
          about others we're missing).

          We'll be setting up [GitHub repos](https://github.com/nko3) and
          [Nodejitsu](http://nodejitsu.com/) accounts for teams soon. You can
          still make changes to your team membership now, but of course no
          coding nor depoys yet.
    tbody
      tr.header
        td.time( datetime='2012-11-10T00:00:00Z' )
        td Competition starts
      tr: td( colspan=3 ): .details
        ul#overall-stats
          li.commits
            .number= stats.commits
            .name Commits
          li.pushes
            .number= stats.pushes
            .name Pushes
          li.deploys
            .number= stats.deploys
            .name Deploys

        :markdown
          ### START CODING

          Stay tuned for deploy instructions.

    tbody
      tr.header
        td.time( datetime='2012-11-12T00:00:00Z' )
        td Competition ends
      tr: td( colspan=3 ): .details
        :markdown
          ### Pencils down!

          Something horribly broken? You have a short grace period to activate
          any snapshot you've previously deployed. Use `jitsu snapshots
          activate` to do this.
    tbody
      tr.header
        td.time( datetime='2012-11-12T00:30:00Z' )
        td Deploy grace period ends
      tr: td( colspan=3 ): .details
        :markdown
          ### Congratulations!!

          Check out [all of the entries](/entries) now.

          If you're still with us, you guys are awesome. Pat your teammate on
          the back. If you're solo, come to IRC and we'll virtually pat you on
          the back.

          Give us a few moments to turn on contestant and public judging.

          <!--
          entry info can be edited any time to update judges on current state
          screencast
          remove yourself from voting any time
          -->
    //- Presentations
    tbody
      tr.header
        td.time( datetime='2012-11-12T01:00:00Z' )
        td Contestant, public judging open
      tr: td( colspan=3 ): .details
        :markdown
          ### Get out the vote

          Check out [the entries](/entries) and vote on your fellow
          contestants.

          Show all your friends what you spent the last 48 hours doing. They
          can help you win the popular vote: just point them to your entry or
          [team page](/teams/mine).

          Expert judges will be officially weighing in soon too.

          <!--
          remove yourself from voting any time
          screencast
          other tips?
          -->
    tbody
      tr.header
        td.time( datetime='2012-11-12T12:00:00Z' )
        td Expert judging starts
      tr: td( colspan=3 ): .details
        p More info soon
    tbody
      tr.header
        td.time( datetime='2012-11-18T00:00:00Z' )
        td Judging ends
      tr: td( colspan=3 ): .details
        p More info soon
    tbody
      tr.header
        td.time( datetime='2012-11-19T00:00:00Z' )
        td Winners announced
      tr: td( colspan=3 ): .details
        p No winners yet

  :markdown
    # Help

    We're here and ready to help if anything goes wrong. Find us on IRC on
    Freenode on [#nodeknockout], [email us], or [tweet us].

    [#nodeknockout]: irc://freenode.net/nodeknockout
    [email us]: mailto:all@nodeknockout.com
    [tweet us]: https://twitter.com/node_knockout

section.ps
  p.ps.
    P.S. This is a massively-multiplayer website: click around and chat with
    other visitors. Click on the lamp post for easier chatting.
