- title('2012')

:markdown
  Node.js Knockout is a 48-hour node.js hackathon. [Learn more](/about)

if registration
  section.when
    h3 node.js knockout 2012 is
      .dates
        a( href="http://bit.ly/MoVN39" )
          time.start( datetime="2012-11-10T00:00:00Z" ) Nov 10
        |  - 
        a( href="http://bit.ly/MoW3Pp" )
          time.end( datetime="2012-11-12T00:00:00Z" ) Nov 12, 2012
        |  UTC
    #countdown from now

    if req.canRegister
      h1 Registration is Open
      if req.team
        p Your team: <a href="/teams/#{team}">#{team.name}</a>
      else
        p: a.register.button( href="/teams/new" ) Register Now
      p: i= req.teamsLeft + " spots remaining"
    else
      h1 Registration is Full
      p: a( href="/teams/new" ) More spots on Nov 1 at 0:00 & 12:00 UTC

else
  h1 Timeline

  table.timeline
    thead: tr: th.time Local Time
    tbody
      tr.header
        td.time( datetime='2012-11-03T00:00:00Z' )
        td Registration closes
      tr: td( colspan=3 ): .details
        :markdown
          ### GET READY&hellip; NKO3 starts soon

          Here are some things to think about before the competition begins:

          1. **Where are you coding?** The [locations page] has great options.
          2. **What tools should you use?** Check out our [tutorials] and
          [free services] provided by sponsors.
          3. **How are you going to win?** See the [rules] and [scoring page].

          **Keep an eye out.** We'll set up [GitHub repos] and [Nodejitsu]
          accounts for teams soon.

          [locations page]: /locations
          [tutorials]: /resources#tutorials
          [free services]: /resources#services
          [rules]: /rules
          [scoring page]: /scoring
          [GitHub repos]: https://github.com/nko3
          [Nodejitsu]: http://nodejitsu.com/

    tbody
      tr.header
        td.time( datetime='2012-11-10T00:00:00Z' )
        td Competition starts
      tr: td( colspan=3 ): .details
        h3 START CODING
        if coding
          if req.team
            :markdown
              NKO3 is underway! Here&rsquo;s how to get started:
              ```sh
              $ git clone git@github.com:nko3/#{team}.git
              $ cd #{team}/
              $ npm install -g jitsu
              $ jitsu login --username nko3-#{team} --password #{team.code}
              $ jitsu deploy
              ```

              Visit [your team page](/teams/mine) for more.
          else
            :markdown
              NKO3 is underway! GO GO GO!

              Visit [your team page](/teams/mine) for deploy instructions.
        else
          p Stay tuned for deploy instructions.

    tbody.minor
      tr.header
        td.time( datetime='2012-11-10T02:30:00Z' )
        td Organizers&rsquo; welcome
      tr: td( colspan=3 ): .details
        :markdown
          ### Welcome to NKO

          NKO organizers [Gerad] and [Visnu] will welcome contestants, then
          node.js benevolent dictator [Isaac Schlueter] will speak.

          [Gerad]: /people/5081a809900f17fc54000005
          [Visnu]: /people/50873a56cd668ae92300005f
          [Isaac Schlueter]: /people/50835324a9f1fbd123eef7cb

          <iframe src="http://www.ustream.tv/embed/12535757" width="558" height="330" scrolling="no" frameborder="0" style="border: 0px none transparent;"></iframe><br /><a href="http://www.ustream.tv/" style="padding: 2px 0px 4px; width: 400px; background: #ffffff; display: block; color: #000000; font-weight: normal; font-size: 10px; text-decoration: underline; text-align: center;" target="_blank">Live Video streaming by Ustream</a>

    tbody.minor
      tr.header
        td.time( datetime='2012-11-10T03:00:00Z' )
        td Competition continues
      tr: td( colspan=3 ): .details
        ul#overall-stats
          li.commits
            .number= stats.commits
            .name Commits
          li.pushes
            .number= stats.pushes
            .name Pushes
          li.deploys
            .number= stats.deploys
            .name Deploys
        if req.user && req.user.contestant
          :markdown
            ### Keep Hacking
            Visit [your team page](/teams/mine) for instructions.
        else
          h2 Here&rsquo;s what&rsquo;s happening

    tbody.minor
      tr.header
        td.time( datetime='2012-11-11T23:00:00Z' )
        td 1 hour left
      tr: td( colspan=3 ): .details
        :markdown
          ### 1 Hour Left, Deploy Now!

          You really, really should have deployed by now, but if you haven't
          <strong class="scary">please deploy right now</strong>. Visit
          [your team page](/teams/mine) for instructions.

    tbody
      tr.header
        td.time( datetime='2012-11-12T00:00:00Z' )
        td Competition ends
      tr: td( colspan=3 ): .details
        :markdown
          ### Pencils down! Time's up!

          <strong class="scary">Stop pushing to your GitHub repo now!</strong>

          **Something horribly broken?** Use this grace period to activate any
          snapshot you've previously deployed. Use `jitsu snapshots activate`
          ([docs](http://handbook.jit.su/#Snapshots)) to do this.

          **Everything peachy?** Make sure your app is submitted for voting.
          The top of your [team page](/teams/mine) should look like this:

        ul.steps
          li.done: a( href='/teams/mine' ) Deploy
          li.done: a( href='/teams/mine' ) Entry info
          li.done: a( href='/teams/mine' ) Submit for voting

    tbody
      tr.header
        td.time( datetime='2012-11-12T00:30:00Z' )
        td Deploy grace period ends; Demos
      tr: td( colspan=3 ): .details
        :markdown
          ### Demo Time!!

          Your final submission for the competition should now be deployed.
          If you&rsquo;re still standing, we&rsquo;ve got time for some quick
          demos.

          _The demo video feed will be posted here before the event begins._

          [Email us](mailto:all@nodeknockout.com) if you would like to be
          included in the Google Hangout.

    //- Presentations
    tbody
      tr.header
        td.time( datetime='2012-11-12T01:00:00Z' )
        td Contestant, public judging open
      tr: td( colspan=3 ): .details
        :markdown
          ### Voting is open

          **First,** you should make sure your entry is eligible for voting.
          The top of **your [team page](/teams/mine) should look like this:**

        ul.steps
          li.done: a( href='/teams/mine' ) Deploy
          li.done: a( href='/teams/mine' ) Entry info
          li.done: a( href='/teams/mine' ) Submit for voting

        :markdown
          **Then,** check out [the entries](/entries) and [go vote](/people/me) on your
          fellow contestants.

        p.button: a.button( href="/people/me" ) Start Voting &raquo;

        :markdown
          Also, don't forget to share your work with friends. They can help
          you win the popular vote. Just point them to your
          [team page](/teams/mine).
    tbody
      tr.header
        td.time( datetime='2012-11-12T12:00:00Z' )
        td Expert judging starts
      tr: td( colspan=3 ): .details
        if req.user && req.user.judge
          h3 Judging Starts Now

          p.button: a.button( href="/people/me" ) Start Judging &raquo;

          :markdown
            **Please vote early and often, as teams are quite excited for your
            input.**

            Here are descriptions to help you when you're rating entries:

            1. **Innovation** - How original is the idea and execution?
            2. **Design** - How good does it look and feel to use?
            3. **Utility / Fun** - Is the site offering a service I'd use again and again?
            4. **Completeness** - How "fully baked" is the site? Are there bugs or dead ends?

            Please try to [grade along a curve](http://en.wikipedia.org/wiki/Grading_on_a_curve)
            with an **average score of 3.5 stars**.
        else
          :markdown
            ### Expert judging

            Our experts are now analyzing entries. **See how your team is doing
            on the [entries page](/entries).**

            To ensure your best possible score:

            1. Update your [entry info](/teams/mine/edit) to give judges tips
            and warn them away from bugs.
            2. If your app is multiplayer, make sure people are around to use
            it with the judge.
            3. Make sure you have a great pitch video.

    if req.user && req.user.judge
      tbody.minor
        tr.header
          td.time( datetime='2012-11-17T18:00:00Z' )
          td Finalist judging brunch
        tr: td( colspan=3 ): .details
          :markdown
            ### Finalist Judging Brunch

            Come to [Voxer] ([760 Market, 5th Floor]) to eat tasty treats and
            review finalists with other judges.

            Since many of the apps are likely to be multiplayer, it will be a
            ton of fun to judge them together, so bring your laptop or tablet.

            _The brunch video feed will be posted here before the event begins._

            [Email us](mailto:all@nodeknockout.com) if you would like to be
            included in the Google Hangout.

            [Voxer]: http://voxer.com
            [760 Market, 5th Floor]: https://maps.google.com/maps?q=760+market+street+san+francisco&hl=en&ll=37.786216,-122.405484&spn=0.010429,0.019526&sll=37.0625,-95.677068&sspn=42.631141,79.980469&hnear=760+Market+St,+San+Francisco,+California+94102&t=m&z=16

    tbody
      tr.header
        td.time( datetime='2012-11-18T00:00:00Z' )
        td Judging ends
      tr: td( colspan=3 ): .details
        :markdown
          ### Whew! That&rsquo;s it

          Sit tight while we audit votes and calculate final scores.
          Preliminary rankings can be found on the [entries page](/entries).

    tbody
      tr.header
        td.time( datetime='2012-11-20T00:00:00Z' )
        td Winners announced
      tr: td( colspan=3 ): .details
        :markdown
          ### No winners yet

          _Winners will be announced here when we&rsquo;ve determined them._

  :markdown
    # Help

    We're here and ready to help if anything goes wrong. Find us on IRC on
    Freenode on [#nodeknockout], [email us], or [tweet us].

    [#nodeknockout]: irc://freenode.net/nodeknockout
    [email us]: mailto:all@nodeknockout.com
    [tweet us]: https://twitter.com/node_knockout

section.ps
  p.ps.
    P.S. This is a massively-multiplayer website: click around and chat with
    other visitors. Click on the lamp post for easier chatting.
